<center>
<div><%= flash[:success] %></div>
<div><%= flash[:danger] %></div>
<br>
  <h4>Ton profil: </h4>
	<p> Tu es connecté avec le compte <%=current_user.email%> </p>
  <p> Nom : <%=current_user.first_name%> </p>
  <p> Prenom : <%=current_user.last_name%> </p>
  <p> Description : <%=current_user.description%> </p>
  <h3>Photo actuel</h3>
<%if current_user.photo_event.attached?%>
  <%= image_tag current_user.photo_event, alt: 'photo user' %>
<%else%>
  <p>=== Il n'y a pas encore de photo de profil ===</p>
<%end%>
<br>
<br>
<% @event.each do |event| %>
  <%if @admin_id == event.admin_id%>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">
      	<p class="card-text"><B>Titre: </B><%= event.title %></a>

      		<div> <%= link_to "Voir", event_path(event.id), class: "btn btn-secondary" %></div><br>
          <div> <%= link_to "Delete", event_path(event.id), method: :delete, class: "btn btn-danger"%></div>
              
      </div>
    </div>
  </div>
<%end%>
<%end%>

<br>

<%= link_to "Pour modifier ton compte", edit_user_path, class: "btn btn-lg btn-primary"%>
<%= link_to "Pour modifier ton adresse mail ou ton password", edit_user_registration_path, class: "btn btn-lg btn-primary"%>
<br><br><br>

</center>