<html>
  <body>
   <center>
<% if @event.errors.any? %>
	<div class="alert alert-danger" role="alert">
  Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :

 
  <ul>
    <% @event.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  </div>
<% end %>

  <%= form_with model: @event, local: true,  html: { class: "form-signin mt-3" } do |f| %>
    <p> Date de début :</br> <%= f.datetime_local_field :start_date, class: "col-md-6 form-control"%> </p>
    <p> Durée :</br> <%= f.number_field :duration, min: 5, step: 5, class: "col-md-6 form-control"%> </p>
    <p> Description :</br> <%= f.text_field :description, class: "col-md-6 form-control"%> </p>
    <p> Titre :</br> <%= f.text_field :title, class: "col-md-6 form-control"%> </p>
    <p> Prix d'entrée :</br> <%= f.number_field :price, in: 1..1000, class: "col-md-6 form-control"%> </p>
    <p> Lieu de l'Event :</br> <%= f.text_field :location, class: "col-md-6 form-control"%></p>
    <p> Image de l'event:</br>  <%= f.file_field :photo_event %></p>

    <div class="actions mt-5">
      <%= f.submit "Mettre a jour l'event", class: "btn btn-lg btn-primary" %>
    </div>
  <%end%>

  <%= form_tag url_for(action:'destroy'), method: "delete" do %>
  <input class="btn btn-danger" type="submit" value="Delete"/>    <br>
      <br>
<%end %>
    </center>
  </body>
</html>