<!-- Ceci est la page du detail d'un event -->

<center><h1>Detail de l'evenement</h1>
<h3>Voici le contenu de l'evenement</h3>


<div class="card" style="width: 65rem;">
  <div class="card-body">
  	<h4><B>Détail : </B></h4>


  

  	<p class="card-text"><B>Titre: </B><%= @event.title %></a>
  	<p class="card-text"><B>Début: </B><%= @event.start_date %></a>
  	<p class="card-text"><B>Durée: </B><%= @event.duration %> min</a>
    <p class="card-text"><B>Se termine: </B><%= @event.start_date + @event.duration * 60%></a>
    <p class="card-text"><B>Prix: </B><%= @event.price %>€</a>
    <p class="card-text"><B>Ville: </B><%= @event.location %></a>
    <p class="card-text"><B>Description: </B><%= @event.description %></a>
    <p class="card-text"><B>Participants: </B><%= @event.users.count %></a>
    <p class="card-text"><B>Créé par: </B><%= @event.admin.email %></a>

<br><br>
    <!-- Bouton add event accesible pour les gens qui n'ont pas deja rejoint l'event et si non admin -->
    <% if current_user != nil %>
    <% if (current_user.id != @event.admin.id) && (@event.users.ids.exclude? (current_user.id))%>


    <a class="btn btn-secondary"<%= link_to "Rejoindre l'evenement", {:controller => "charges", :action => "new", :event_id => @event.id} %></a>
    <%end%>
    <%end%>

    <!-- Bouton index participants de cette evenement accessible uniquement si admin de l'event -->
    <%if current_user == @event.admin%>
        <a class="btn btn-secondary"<%= link_to "Mon espace événement", {:controller => "attendances", :action => "index", :event_id => @event.id} %></a>
    <%end%>
  
    <a class="btn btn-secondary"<%= link_to "Back", :back %></a>
    </div> 
  </div>
</div>
</center>